* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: black;
}
.ri {
  float: right;
}
.le {
  float: left;
}
header .top-top-top {
  box-shadow: 4px 4px 4px rgba(34, 33, 33, 0.1);
}
header .top-top {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}
header .top-top img {
  width: 260px;
  height: 100px;
}
header .top-top ul li {
  line-height: 100px;
  float: left;
  margin-left: 50px;
  font-size: 20px;
  cursor: pointer;
  color: black;
}
header .top-top ul li:hover {
  color: red;
}
header .top-top .zhuce {
  margin-top: 50px;
  transform: translateY(-50%);
  border: 1px solid #FB6D5B;
  padding: 7px 10px;
  border-radius: 5px;
}
header .top-top .zhuce a {
  color: #FB6D5B;
}
header .top-top .fangdajing {
  width: 26px;
  height: 26px;
  margin-top: 50px;
  transform: translateY(-50%);
  margin-right: 50px;
}
header .top-top .fangdajing img {
  width: 26px;
  height: 26px;
}
.main {
  margin-top: 50px;
  margin-bottom: 50px;
  height: 1000px;
}
.main .commont-left {
  width: 300px;
  height: 380px;
  background-color: #f3f3f3;
  padding: 35px 20px;
}
.main .commont-left h2 {
  text-indent: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.main .commont-left h3 {
  margin-top: 20px;
  text-indent: 20px;
}
.main .commont-left p {
  text-indent: 40px;
  line-height: 30px;
  color: #404139;
}
.main .commont-right {
  width: 700px;
  background-color: #f3f3f3;
  padding: 35px;
}
.main .commont-right h2 {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
.main .commont-right h3 {
  margin-top: 20px;
  color: #3f4752;
  margin-bottom: 30px;
}
.main .commont-right p {
  line-height: 30px;
  color: #404139;
}
footer .foot {
  width: 100%;
  background-color: #505050;
  overflow: auto;
}
footer .foot .foot-one {
  width: 1200px;
  height: 260px;
  margin: 30px auto;
}
footer .foot .foot-one .ul-one {
  float: left;
}
footer .foot .foot-one .ul-one li {
  float: left;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-left: 100px;
}
footer .foot .foot-one img {
  width: 180px;
  height: 180px;
  float: left;
}
footer .foot .foot-one div:nth-of-type(1) {
  width: 150px;
  margin-left: 20px;
}
footer .foot .foot-one div:nth-of-type(1) img {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
}
footer .foot .foot-one div:nth-of-type(1) p:nth-of-type(1) {
  font-size: 14px;
  color: #898F97;
}
footer .foot .foot-one div:nth-of-type(1) p:nth-of-type(2) {
  font-size: 14px;
  margin-top: 25px;
  color: #898F97;
}
footer .foot .foot-one div:nth-of-type(2) {
  height: 300px;
  float: left;
  margin-top: 20px;
}
footer .foot .foot-one div:nth-of-type(2) .ul-two {
  float: left;
  margin-left: 100px;
}
footer .foot .foot-one div:nth-of-type(2) .ul-two li {
  font-size: 14px;
  color: #898F97;
}
footer .foot .foot-one div:nth-of-type(2) .ul-three {
  float: left;
  margin-left: 80px;
}
footer .foot .foot-one div:nth-of-type(2) .ul-three li {
  font-size: 14px;
  color: #898F97;
}
footer .foot .foot-one div:nth-of-type(2) .ul-four {
  float: left;
  margin-left: 30px;
}
footer .foot .foot-one div:nth-of-type(2) .ul-four li {
  font-size: 14px;
  color: #898F97;
}
footer .foot .foot-one div:nth-of-type(2) .ul-five {
  float: left;
  margin-left: 25px;
}
footer .foot .foot-one div:nth-of-type(2) .ul-five li {
  font-size: 14px;
  color: #898F97;
}
footer .foot .foot-one div:nth-of-type(2) .ul-six {
  float: left;
  margin-left: 30px;
}
footer .foot .foot-one div:nth-of-type(2) .ul-six li {
  font-size: 14px;
  color: #898F97;
}
footer .foot .footer_div {
  width: 100%;
  height: 50px;
  position: relative;
}
footer .foot .footer_div a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  line-height: 50px;
  text-decoration: none;
  color: #898F97;
}
#fan {
  width: 50px;
  height: 50px;
  background-color: #e8e8e8;
  position: fixed;
  bottom: 59px;
  right: 120px;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.5s;
}
#fan img {
  width: 36px;
  height: 20px;
  position: absolute;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}
/*# sourceMappingURL=./help.css.map */