* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.ri {
  float: right;
}

.le {
  float: left;
}

header .top-top-top {
  box-shadow: 4px 4px 4px rgba(34, 33, 33, 0.1);
}

header .top-top {
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}

header .top-top img {
  width: 260px;
  height: 100px;
}

header .top-top ul li {
  line-height: 100px;
  float: left;
  margin-left: 50px;
  font-size: 20px;
  cursor: pointer;
  color: black;
}

header .top-top ul li:hover {
  color: red;
}

header .top-top .zhuce {
  margin-top: 50px;
  transform: translateY(-50%);
  border: 1px solid #FB6D5B;
  padding: 7px 10px;
  border-radius: 5px;
}

header .top-top .zhuce a {
  color: #FB6D5B;
}

header .top-top .fangdajing {
  width: 26px;
  height: 26px;
  margin-top: 50px;
  transform: translateY(-50%);
  margin-right: 50px;
}

header .top-top .fangdajing img {
  width: 26px;
  height: 26px;
}

header .dalougou {
  width: 100%;
  height: 300px;
  margin: 50px auto;
  background: url(../img/original.jpg) no-repeat;
  background-size: 100% 300px;
}

header .dalougou .shijian {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  animation: move 2s;
}

header .dalougou .shijian div {
  width: 450px;
  height: 250px;
  margin-top: 25px;
  position: relative;
}

header .dalougou .shijian div p:nth-of-type(1) {
  font-size: 30px;
  color: white;
  text-align: right;
}

header .dalougou .shijian div p:nth-of-type(2) {
  font-size: 20px;
  color: white;
  text-align: right;
  margin-top: 30px;
  width: 450px;
}

header .dalougou .shijian div ul {
  margin-top: 30px;
}

header .dalougou .shijian div ul li {
  color: white;
  float: left;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-left: 10px;
  text-align: center;
}

header .dalougou .shijian div button {
  width: 250px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  bottom: 20px;
  background-color: red;
  right: 0px;
  text-align: center;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

header .dalougou .shijian div button:hover {
  box-shadow: 4px 4px 4px rgba(255, 0, 0, 0.5);
}

header .daohanglan {
  width: 1200px;
  margin: 30px auto;
  overflow: hidden;
}

header .daohanglan .rmsy {
  float: left;
  font-size: 30px;
}

header .daohanglan .chakan {
  margin-top: 10px;
  float: right;
}

header .daohanglan .chakan p {
  float: right;
  line-height: 30px;
  font-size: 17px;
  margin-top: 3px;
  color: #a09e9e;
}

header .daohanglan .chakan img {
  margin-top: 10px;
  width: 16px;
  height: 16px;
  float: right;
}

@keyframes move {
  0% {
    transform: translate(100px, -100px);
    opacity: 1;
  }
  100% {
    transform: translate(0px 0px);
  }
}

footer .foot {
  width: 100%;
  background-color: #505050;
  overflow: auto;
}

footer .foot .foot-one {
  width: 1200px;
  height: 260px;
  margin: 30px auto;
}

footer .foot .foot-one .ul-one {
  float: left;
}

footer .foot .foot-one .ul-one li {
  float: left;
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-left: 100px;
}

footer .foot .foot-one img {
  width: 180px;
  height: 180px;
  float: left;
}

footer .foot .foot-one div:nth-of-type(1) {
  width: 150px;
  margin-left: 20px;
}

footer .foot .foot-one div:nth-of-type(1) img {
  width: 100%;
  height: 60px;
  margin-bottom: 25px;
}

footer .foot .foot-one div:nth-of-type(1) p:nth-of-type(1) {
  font-size: 14px;
  color: #898F97;
}

footer .foot .foot-one div:nth-of-type(1) p:nth-of-type(2) {
  font-size: 14px;
  margin-top: 25px;
  color: #898F97;
}

footer .foot .foot-one div:nth-of-type(2) {
  height: 300px;
  float: left;
  margin-top: 20px;
}

footer .foot .foot-one div:nth-of-type(2) .ul-two {
  float: left;
  margin-left: 100px;
}

footer .foot .foot-one div:nth-of-type(2) .ul-two li {
  font-size: 14px;
  color: #898F97;
}

footer .foot .foot-one div:nth-of-type(2) .ul-three {
  float: left;
  margin-left: 80px;
}

footer .foot .foot-one div:nth-of-type(2) .ul-three li {
  font-size: 14px;
  color: #898F97;
}

footer .foot .foot-one div:nth-of-type(2) .ul-four {
  float: left;
  margin-left: 30px;
}

footer .foot .foot-one div:nth-of-type(2) .ul-four li {
  font-size: 14px;
  color: #898F97;
}

footer .foot .foot-one div:nth-of-type(2) .ul-five {
  float: left;
  margin-left: 25px;
}

footer .foot .foot-one div:nth-of-type(2) .ul-five li {
  font-size: 14px;
  color: #898F97;
}

footer .foot .foot-one div:nth-of-type(2) .ul-six {
  float: left;
  margin-left: 30px;
}

footer .foot .foot-one div:nth-of-type(2) .ul-six li {
  font-size: 14px;
  color: #898F97;
}

footer .foot .footer_div {
  width: 100%;
  height: 50px;
  position: relative;
}

footer .foot .footer_div a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  line-height: 50px;
  text-decoration: none;
  color: #898F97;
}

#fan {
  width: 50px;
  height: 50px;
  background-color: #e8e8e8;
  position: fixed;
  bottom: 59px;
  right: 120px;
  border-radius: 9px;
  cursor: pointer;
  transition: all 0.5s;
}

#fan img {
  width: 36px;
  height: 20px;
  position: absolute;
  margin-top: 50%;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}